name: pull request

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: macOS-13
    steps:
      - uses: actions/checkout@v4
      - name: set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: 17
      - name: Install Android SDK
        uses: hannesa2/action-android/install-sdk@0.1.4.10
      - name: Build with Gradle
        run: ./gradlew assembleDebug
      - name: Android Emulator test
        uses: hannesa2/action-android/emulator-run-cmd@0.1.4.10
        with:
          cmd: ./gradlew cAT --continue
          api: 28
          tag: default
          abi: x86_64
          cmdOptions: -noaudio -no-boot-anim -no-window
          bootTimeout: 720
      - uses: actions/upload-artifact@v4
        if: ${{ always() }}
        with:
          name: PanoramaGL-Espresso-report
          path: |
            ./**/build/reports/androidTests/connected
      - name: Archive screenshots
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: PanoramaGL-Screenshots
          path: |
            app/build/outputs/connected_android_test_additional_output/debugAndroidTest/connected
            app/build/outputs/androidTest-results/connected
  Check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: 17
      - name: Install Android SDK
        uses: hannesa2/action-android/install-sdk@0.1.4.10
      - name: Code checks
        run: ./gradlew check
      - name: Archive Lint report
        uses: actions/upload-artifact@v4
        if: ${{ always() }}
        with:
          name: PanoramaGL-Lint-report
          path: ./**/build/reports/lint-results*.html