name: PullRequest

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  buildTest:
    name: Test
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
      pull-requests: write
      repository-projects: write
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-22.04 ]
        api: [ 28 ]
        tag: [ default ]
        abi: [ x86_64 ]
        emulatorApi: [ 9 ]
        java_version: [ 17 ]
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: true
      - uses: actions/setup-java@v5
        with:
          distribution: "adopt"
          java-version: ${{ matrix.java_version }}
      - name: kvm support
        run: |
          egrep -c '(vmx|svm)' /proc/cpuinfo
          id
          sudo adduser $USER kvm
          sudo chown -R $USER /dev/kvm
          id
      - name: prepare
        run: |
          sudo apt-get update && sudo apt-get install -y exiftool imagemagick xdg-utils libimage-exiftool-perl zsh jq xorg
      #          brew install exiftool imagemagick
      - name: Install JDK ${{ matrix.java_version }}
        uses: actions/setup-java@v5
        with:
          distribution: "adopt"
          java-version: ${{ matrix.java_version }}
      - uses: gradle/actions/wrapper-validation@v5
      - name: Install Android SDK
        uses: hannesa2/action-android/install-sdk@0.1.16.7
      - name: Run instrumentation tests
        uses: hannesa2/action-android/emulator-run-cmd@0.1.16.7
        with:
          cmd: ./gradlew cAT --continue
          api: ${{ matrix.api }}
          tag: ${{ matrix.tag }}
          abi: ${{ matrix.abi }}
          cmdOptions: -noaudio -no-boot-anim -no-window -metrics-collection
          disableAnimations: true
      - name: Archive Espresso results
        uses: actions/upload-artifact@v6
        if: ${{ always() }}
        with:
          name: Panorama-Espresso-report-${{ matrix.api }}-${{ matrix.tag }}-${{ matrix.abi }}-${{ matrix.emulatorApi }}
          path: app/build/reports/androidTests/connected
          if-no-files-found: error
      - name: Archive screenshots
        if: ${{ always() }}
        uses: actions/upload-artifact@v6
        with:
          name: Panorama-Screenshots-${{ matrix.api }}-${{ matrix.tag }}-${{ matrix.abi }}-${{ matrix.emulatorApi }}
          path: |
            app/build/outputs/connected_android_test_additional_output/debugAndroidTest/connected
            app/build/outputs/androidTest-results/connected
      - name: Compare screenshots
        env:
          CLASSIC_TOKEN: ${{ secrets.CLASSIC_TOKEN }}
          emulatorApi: ${{ matrix.emulatorApi }}
          SCREENSHOT_USER: ${{ secrets.SCREENSHOT_USER }}
          SCREENSHOT_PASSWORD: ${{ secrets.SCREENSHOT_PASSWORD }}
        run: |
          ls -ls app/build/outputs/connected_android_test_additional_output/debugAndroidTest/connected
          cp app/build/outputs/connected_android_test_additional_output/debugAndroidTest/connected/emulator-5554\ -\ ${{ matrix.emulatorApi }}/* screenshotsToCompare${{ matrix.emulatorApi }}
          ./screenShotScript/screenShotCompare.sh
      - name: Archive screenshots diffs
        if: ${{ always() }}
        uses: actions/upload-artifact@v6
        with:
          name: Panorama-Screenshots-diffs-${{ matrix.api }}-${{ matrix.tag }}-${{ matrix.abi }}-${{ matrix.emulatorApi }}
          path: |
            screenshotDiffs
      - name: Show git status
        if: ${{ always() }}
        run: |
          git add screenshotsToCompare${{ matrix.emulatorApi }}
          git status
          [ "$(git status -s -uno)" ] && exit 1 || exit 0
  Check:
    name: Check
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        java_version: [ 17 ]
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: true
      - uses: actions/setup-java@v5
        with:
          distribution: "adopt"
          java-version: ${{ matrix.java_version }}
      - name: Install Android SDK
        uses: hannesa2/action-android/install-sdk@0.1.16.7
      - name: Run tests
        run: ./gradlew test
      - name: Test jitpack publish command
        run: ./gradlew :library:publishToMavenLocal
      - name: Code checks
        run: ./gradlew check
      - name: Archive Lint report
        uses: actions/upload-artifact@v6
        if: ${{ always() }}
        with:
          name: Panorama-Lint-report
          path: ./**/build/reports/lint-results*.html
